{% extends 'comida/base.html' %}
{% block section %}
	{% for comida in comidas %}
	
		<article>
			<header>
				<h1><a href="{% url 'comidaDetalle' pk=comida.pk %}">{{ comida.nombre }}</a></h1>
				<time datetime=" {{ comida.fecha_creacion }}" pubdate>publicado {{ comida.fecha_creacion }}</time>
			</header>
			<!-- <p>{{ comida.descripcion|linebreaks }}</p> -->
			<figure>
				<img src="/media/{{comida.imagen}}">
				<figcaption>
					<!-- <p>Text: {{comida.imagen|linebreaks}}<p> -->
				</figcaption>
			</figure>
		</article>
	{% endfor %}
{% endblock section %}